name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable

    - name: Rust Cache
      uses: Swatinem/rust-cache@v2

    - name: Check Formatting
      run: cargo fmt -- --check

    - name: Run Clippy (Host)
      run: cargo clippy -p nexus_boot -- -D warnings

    - name: Run Clippy (Kernel)
      run: cargo clippy -p nexus_kernel --target x86_64-unknown-none -- -D warnings

    - name: Run Tests (Host)
      run: cargo test -p nexus_boot
